JWT_SECRET=abc
JWT_ISSUER=my_app
ENV=development
PORT=8080
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=my_database
DB_PORT=5432

# S3-compatible storage
STORAGE_ENDPOINT=your_cloud_endpoint
STORAGE_REGION=your_cloud_region
STORAGE_ACCESS_KEY_ID=your_access_key_id
STORAGE_SECRET_ACCESS_KEY=your_secret_access_key
STORAGE_BUCKET=your_bucket_name